[role="main"] {
  padding-top: 95px;
}

.content-page {
     margin-left: 250px;
     overflow: hidden;
 }

.sidebar-collapsed .content-page {
    margin-left: 80px;
}

label {
  font-weight: 500;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

@include media-breakpoint-down(md) {
  .content-page {
    margin-left: 0;
  }
}
@include media-breakpoint-up(md) {
  .content-page {
    width: calc(100% - 250px);
  }
}
@include media-breakpoint-between(lg, xl) {
  .widget {
    height: 128px;

    .row .text-muted {
      width: 80px;
      text-align: right;
      word-wrap: normal;
    }
  }
}
